<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infoms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    @*<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>*@

    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #343a40;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
                text-align: center;
            }

            .login-form hr {
                display: block;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 1px;
                border-color: #f7f7f7;
            }

            .login-form h5 {
                margin: 0 0 15px;
                text-align: center;
            }
    </style>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jstree")
    @RenderSection("scripts", required: false)
</body>
</html>